<!DOCTYPE html>
<html lang="en">
	<head>
		<title>1B - Photo Gallery</title>
		<script src="/static/main.js"></script>
		<link rel="stylesheet" href="/static/styles.css">
	</head>

	<body>
		<header>
			<div class="grid-item1">
				<img id="Logo" src="/static/images/BSINT 1B.png" alt="1B-Logo">
			</div>
			<div class="grid-item1">
				<button>Add New Image</button>
			</div>
		</header>




		<div class="gallery">
			<div class="container">

				<div class="gallery-container w-3 h-2">
				  <div class="gallery-item">
					<div class="image">
					  <img src="/static/Gallery_Images/received_1550440765411413.jpeg" alt="nature">
					</div>
					<div class="text">Butang Title Didi</div>
				  </div>
				</div>
			  
				<div class="gallery-container w-3 h-3">
				  <div class="gallery-item">
					<div class="image">
					  <img src="/static/Gallery_Images/received_358359113090626.jpeg" alt="people">
					</div>
					<div class="text">Butang Title Didi</div>
				  </div>
				</div>
			  
				<div class="gallery-container h-2">
				  <div class="gallery-item">
					<div class="image">
					  <img src="/static/Gallery_Images/received_389939303344434.jpeg" alt="sport">
					</div>
					<div class="text">Butang Title Didi</div>
				  </div>
				</div>
			  
				<div class="gallery-container w-2">
				  <div class="gallery-item">
					<div class="image">
					  <img src="/static/Gallery_Images/received_393641569622076.jpeg" alt="fitness">
					</div>
					<div class="text">Butang Title Didi</div>
				  </div>
				</div>
			  
				<div class="gallery-container w-4 h-1">
				  <div class="gallery-item">
					<div class="image">
					  <img src="/static/Gallery_Images/received_409000594639310.jpeg" alt="food">
					</div>
					<div class="text">Butang Title Didi</div>
				  </div>
				</div>
			  
				<div class="gallery-container">
				  <div class="gallery-item">
					<div class="image">
					  <img src="/static/Gallery_Images/received_431608372290877.jpeg" alt="travel">
					</div>
					<div class="text">Butang Title Didi</div>
				  </div>
				</div>
			  
				<div class="gallery-container h-2">
				  <div class="gallery-item">
					<div class="image">
					  <img src="/static/Gallery_Images/received_454073086698584.jpeg" alt="art">
					</div>
					<div class="text">Butang Title Didi</div>
				  </div>
				</div>
			  
				<div class="gallery-container">
				  <div class="gallery-item">
					<div class="image">
					  <img src="/static/Gallery_Images/received_464956745679425.jpeg" alt="cars">
					</div>
					<div class="text">Butang Title Didi</div>
				  </div>
				</div>
			  
			  
			  </div>
		</div>
		<div class="footer">
			<h5>ALL RIGHTS RESEVED | BSIT - 1B</h5>
		</div>
	</body>
</html>
