.row {
    color: white;
  
}

hr{
    color: white;
    height: 2px;
    width: 100%;
    border: solid 1px white;
    background-color: wheat;
}

body{
    margin: 0;
    padding: 0;
    height: 600px;
    background-color: #850000;
}
