/*===== Instructor Card =====*/
.card-contaner{
    
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.image, img {
    width: 100px;
    height: auto;
    
}

.sub-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    padding: 50px;
    border-radius: 10px;
    max-width: 700px;

    text-align: justify;
   

    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); 

}











/*===== General Styling =====*/
body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("/static/images/low-poly-grid-haikei.svg");
    background-repeat: no-repeat;
    background-size: cover;
    animation: pan 6s infinite alternate linear;

    height: 100%;
    color: white;
}

@keyframes pan {
    100% {
        background-position: 15% 15%;
    }
}