<!DOCTYPE html>
<html>
    <head>
        <title>EVSU Teacher Evaluation</title>
        <script src="/static/app.js"></script>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <div>
            <h1>Teacher Evaluation</h1>
            <div class="card-container">
                <div class="sub-container">
                    <div class="image">
                        <img class="instructor-picture" src="/static/images/Casio.jpg" alt="Casio">
                    </div>
    
                    <div class="desc">
                        <h4>Name: <b>Casio</b></h4>
                        <h4>Score: <b>5</b></h4>
                        <h4>College: <b>COE</b></h4>
                        <h4>Department: <b>CIVIL ENGINEERING</b></h4>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>