<!DOCTYPE html>
<html>
    <head>
        <title>EVSU Teacher Evaluation</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script>
            // Update the current time every 1000 milliseconds
            function displayTime() {
                var now = new Date();
                var hours = now.getHours();
                var minutes = now.getMinutes();
                var seconds = now.getSeconds();
            
                document.getElementById("time").innerHTML = 
                (hours < 10 ? "0" : "") + hours + ":" + 
                (minutes < 10 ? "0" : "") + minutes + ":" + 
                (seconds < 10 ? "0" : "") + seconds;
            }
            
            setInterval(displayTime, 1000);
  
        </script>
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>
    <body class="bg-danger">
        <div class="container bg-danger">
            <!-- <main>
                <div>
                    <h1>Rate Ur EVSU Prof(COE Edition)</h1>
                </div>
                Choosing Section
                <div class="choose">
                    <button><span>Rate</span> A Professor</button>
                    <button>See the <span>Reviews</span></button>
                </div>
                <hr>
                <p>DISCLAIMER: This is just for fun ;). This is not meant to <b><span style="color: red;">UPDATE THIS SECTION</span></b></p>
            </main> -->
            <div class="row">
                
                <div class="title col d-flex justify-content-center align-items-center">
                    <h1>Rate Ur EVSU Prof(COE Edition)</h1>
                </div>
                
            </div>

            <div class="row row-cols-6 d-flex align-content-center justify-content-center g-0">
                
                <div class="col">
                    <button><span>Rate</span> A Professor</button>
                </div>
                <div class="col">
                    <button>See the <span>Reviews</span></button>
                </div>
                
            </div>

            <hr>

            <footer class="row">
                <div class="col d-flex justify-content-center align-content-center">
                    <small id="time"></small>
                </div>
            </footer>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    </body>
</html>