<!DOCTYPE html>
<html>
    <head>
        <title>EVSU Teacher Evaluation</title>
        <script src="/static/Rate.js"></script>
        <link rel="stylesheet" href="/static/Rate.css">
    </head>
    <body>
        <div class="main-card">
            <h1>Instructor Evaluation</h1>
            <div class="card-container">
                <div class="sub-container">
                    <div class="desc">
                        <h4 class="teacher">Name: <b></b></h4>
                        <h4 class="_teacher">College: <b></b></h4>
                        <h4 class="teacher_">Department: <b></b></h4>
                        <form>
                            <button type="submit" name="prev_button" value="Prev">Prev</button>
                            <button type="submit" name="next_button" value="Next">Next</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>